<div class="wrapper">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
      <div class="input-box">
        <input type="email" placeholder="Enter your email" formControlName="email">
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('required')" class="error">
          Email is required.
        </div>
        <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.hasError('email')" class="error">
          Please enter a valid email address.
        </div>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Create password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')" class="error">
          Password is required.
        </div>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('minlength')" class="error">
          Password must be at least 8 characters long.
        </div>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Login" [disabled]="!loginForm.valid">
      </div>
      <div class="text">
        <h3>Don't have an account? 
            <a routerLink="/auth/register" routerLinkActive="active" >Register now</a>
        </h3>
      </div>
    </form>
</div>