<div class="min-height-300 bg-primary position-absolute w-100"></div>
  <main class="main-content position-relative border-radius-lg m-0">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="py-1 px-3 d-flex justify-content-between w-100">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" routerLink='/resumes'>Resumes</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">All</li>
          </ol>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4 d-flex justify-content-end" id="navbar">
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
                <button class="btn btn-link text-white font-weight-bold px-0 m-0">
                    <i class="fa fa-user me-sm-1"></i>
                    <span class="d-sm-inline d-none">user</span>
                </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">

      <div class="row">
        <div class="p-1 col-6 col-sm-4 col-lg-3 col-xl-2" *ngFor="let resume of (resumes$ | async)">
          <a class="card card-frame" [routerLink]="['/resumes',resume.name,'overview']">
            <div class="card-header p-2">
                <img src="https://st3.depositphotos.com/15648834/17930/v/450/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" class="img-fluid border-radius-lg">
            </div>
            <div class="card-body p-0">
              <div class="d-flex flex-column align-items-center">
                <h4 class="m-0" title="{{resume.name}}">{{ resume.name.length > 15 ? (resume.name | slice:0:15) + '...' : resume.name }}</h4>
                <div class="d-flex justify-content-between w-100 px-4 mt-4">
                    <a class="btn btn-link p-0" type="button" [routerLink]="['/resumes',resume.name,'preview']">
                      <i class="fa-regular fa-eye fs-4"></i>
                    </a>
                    <a class="btn btn-link p-0" type="button" [routerLink]="['/resumes',resume.name,'statistics']">
                      <i class="fa-solid fa-chart-line fs-4"></i>
                    </a>
                    <a class="btn btn-link p-0" type="button" [routerLink]="['/resumes',resume.name,'overview']">
                      <i class="fa-solid fa-pen-to-square fs-4"></i>
                    </a>
                  </div>
                </div>
            </div>
          </a>
        </div>
        <div class="p-1 col-6 col-sm-4 col-lg-3 col-xl-2">
        <app-add-resume></app-add-resume>
        </div>
      </div>
    </div>
  </main>

  